@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center"  style="height:80vh">
        <div class="btn-group">
            <a class="btn btn-primary" asp-controller="PaySchoolFee" asp-action="Index">Pay School Fee</a>
            <a class="btn btn-secondary" asp-controller="PaySchoolFee" asp-action="ViewPaymentList">View Payment List</a>
        </div>
</div>
